
.battle-zone {
    background-image: url("https://wallpaperplay.com/walls/full/2/8/9/229647.jpg");
    height: 100vh;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.battle-zone-title {
    text-align: center;
    font-size: 45px;
    text-transform: uppercase;
}

.battle-zone-description {
    background-color: black;
    padding: 20px;
    opacity: 80%;
    border-radius: 10px;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    width: 60%;
}

.battle-zone-description h2 {
    font-size: 28px;
    font-weight: bold;
}

.battle-zone-description p {
    font-size: 20px;
    font-weight: bold;
}